.header {
  font-size: 2rem;
  margin: 1.68rem 0;
  padding-left: .5rem;
}

.header--underlined {
  padding-bottom: .68em;
  border-bottom: 1px solid #ccc;
}

.header--small {
  font-size: 1.5rem;
}

.header__buttons {
  float: right;
  padding-right: 25px;
}
